CompileFlags:
  CompilationDatabase: build_debug
  Compiler: D:/DeveloperSettings/MSYS2/mingw64/bin/g++.exe
  Add: [-std=c++23]

Diagnostics:
  UnusedIncludes: None

Hover:
  ShowAKA: No

Documentation:
  CommentFormat: Doxygen

InlayHints:
  Enabled: Yes
  DeducedTypes: Yes
  ParameterNames: Yes
  Designators: Yes
  TypeNameLimit: 0
